<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bangkit.intermediate.storyappfinal">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name="com.bangkit.intermediate.storyappfinal.presentation.StoryApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryAppFinal"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJYmF947sl1R8J3qi3N28XP50s3Z6SEgU" />

        <activity
            android:name=".presentation.ui.MapsActivity"
            android:label="@string/maps"
            android:exported="true" />

        <activity
            android:name=".presentation.ui.AuthenticationActivity"
            android:label="@string/authentication"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.AddStoryActivity"
            android:label="@string/add_story"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.StoryDetailsActivity"
            android:label="@string/details"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>